<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="site-footer">

    <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
    </a>

    <div class="container">
        <div class="row mb-5">
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Populyar Axtarışlar</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Veb Dizayn</a></li>
                    <li><a href="#">Qrafik Dizayn</a></li>
                    <li><a href="#">Veb Proqramlaşdırıcılar</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">CSS3</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Şirkət</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Haqqımızda</a></li>
                    <li><a href="#">Karyera</a></li>
                    <li><a href="#">Bloq</a></li>
                    <li><a href="#">Resurslar</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Dəstək</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Dəstək</a></li>
                    <li><a href="#">Məxfilik</a></li>
                    <li><a href="#">Xidmət Şərtləri</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Əlaqə</h3>
                <div class="footer-social">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><span
                            class="icon-facebook"></span></a>
                    <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer"><span
                            class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><span
                            class="icon-instagram"></span></a>
                    <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><span
                            class="icon-linkedin"></span></a>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12">
                <p class="copyright"><small>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Müəllif hüququ &copy;
                        <script>document.write(new Date().getFullYear());</script> Bütün hüquqlar qorunur | Bu şablon
                        is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </small></p>
            </div>
        </div>
    </div>
</footer>

</html>